@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background: #0d0d0d;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: inline-block;
    position: relative;
    margin-top: 2%;
    padding: 15px;
    width: 75%;
    height: 20vh;
    background-color: #d3d1d1;
    border-radius: 10px;
}

.pokemon-img {
    background: #333;
    height: 100%;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-image {
    width: 50%;
    border-radius: 5px;
}

.pokemon-data {
    position: absolute;
    font-weight: 600;
    color: #666;
    top: 10%;
    left: 18%;
    font-size: clamp(5px, 5vw, 25px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pokemon-name {
    color: #3a444d;
    text-transform: capitalize;
    margin-right: 10px;
}

.pokemon-type {
    color: #3a444d;
    text-transform: capitalize;
    margin-right: 10px;
}

.div-hp {
    width: 400px;
    height: 20px;
    color: #fff;
    border-radius: 10px;
    border: 2px #333 solid;
    font-size: 1rem;
}

@media screen and (max-width: 1160px) {
    .div-hp {
        width: 300px;
    }
}

@media screen and (max-width: 990px) {
    .div-hp {
        width: 250px;
    }
}

.pokemon-hp {
    border-radius: 10px;
    background-color: red;
    height: 100%;
    transition: all 300ms;
}

.form {
    position: absolute;
    width: 35%;
    top: 40%;
    left: 18%;
}

.input-search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons {
    position: absolute;
    right: 15%;
    top: 40%;
    width: 30%;
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    background-color: #444;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

@media screen and (max-width: 910px) {
    
}
